h2{
    text-align: center;
    margin-top: 70px;
}

input{
    height: 50px;
    width: 60%;
    margin: 50px 20% 10px 20%;
    padding: 0 15px;

    border: none;
    border:solid 1px black;
    border-radius: 10px;
}

textarea{
    height: 50px;
    width: 60%;
    margin: 50px 20% 10px 20%;
    padding: 1.2em 20px;

    border: none;
    border:solid 1px black;
    border-radius: 10px;
}

.submit:hover{
    background-color: #797979;
    transition: 0.3s ease-out;
}